.DS_Store
.env
.idea
.venv
**/catboost_info/
**/.tabstar_*/
**/temp_*/
**/check_whl/
runs/
/results.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv legacy
.TabSTAR-env/
